# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env*.local

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Build / Output
dist/
build/
out/
.next/
.cache/
.temp/
.tmp/
coverage/

# TypeScript
*.tsbuildinfo

# React (Vite / CRA / Webpack)
.vite/
vite.config.ts.tmp
*.cache
*.parcel-cache
*.eslintcache

# Tailwind
.tailwind-cache/

# Prisma
prisma/*.db
prisma/migrations/dev.db-journal
prisma/migrations/dev.db
# Prisma Engines
prisma/query-engine*
prisma/libquery_engine*
prisma/schema-engine*


# NestJS
.nest/

# Testing
coverage/
jest-cache/
jest-test-results.json
test-results.xml

# IDE / Editor
.vscode/